<form method="POST" id="login">
    <input type="email" name="email" value="" placeholder="Tu Email">
    <br><br>
    <input type="password" name="password" value="" placeholder="Tu Contraseña">
    <br><br>
    <input type="submit" value="Login">
</form>